.rootTable {
  width: 100%;
  border-spacing: 0;
  position: relative;
}

.tableHead>tr {
  background-color: var(--dark-blue);
  border-radius: 0.625rem;
  color: var(--white);
  font-weight: 700;
}

.tableHead>tr>th,
.tableBody>tr>td {
  padding: 0.75rem;
  text-align: left;
  color: var(--dark-blue);
}

.tableHead>tr>th {
  color: var(--white);
}

.tableHead>tr>th:first-child {
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
}

.tableHead>tr>th:first-child,
.tableBody>tr>td:first-child {
  width: 10%;
  text-align: center;
}

/* conditional buat tabel manajemen */
.firstHeadArea>.tableHead>tr>th:first-child,
.firstHeadArea>.tableHead>tr>td:first-child {
  width: 25%;
}

.firstHeadArea>.tableHead>tr>th,
.firstHeadArea>.tableBody>tr>td {
  text-align: center;
}

/* end of conditional */

.tableHead>tr>th:last-child {
  border-top-right-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.tableBody>tr {
  transition: .3s all;
}

.tableBody>tr:nth-child(even) {
  background-color: var(--white-base);
}

.tableBody>tr:hover {
  cursor: pointer;
  background-color: #d6d6d6;
}

tr.nonActive {
  pointer-events: none;
}

/* edit & delete icon */
td.tableIcon>svg {
  pointer-events: auto;
  transition: .3s all;
}

td.tableIcon>svg:hover {
  cursor: pointer;
  color: var(--white);
}

/* loading spinner */
.spinner {
  margin: 1rem auto;
}