.rootToast {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.rootToast > div {
  width: 31.25rem;
  background-color: var(--dark-blue);
  border-radius: 1.25rem;
  padding: 1.875rem 2rem;
  margin-top: 2.5rem;
}

.rootToast > div > div:first-child {
  display: flex;
  justify-content: space-between;
}

.rootToast > div > div:first-child > p {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.buttonClose {
  padding: 0;
  background-color: transparent;
}

.buttonClose:hover {
  background-color: transparent;
  color: var(--white);
}